Flask==1.1.2
numba==0.54.1
numpy==1.17.4
onnx==1.8.1
opencv-contrib-python==4.5.5.62
opencv-python==4.5.1.48
Pillow==7.0.0
rembg==1.0.31
requests==2.24.0
torch==1.9.1
torchvision==0.10.1
urllib3==1.25.8
virtualenv==20.13.0